<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realtime Web Application</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body> 
  <main>
      <h1>401</h1>
      <h2>You do not have authorization for this page.</h2>
  </main>  
</body>